[submodule ".tmux"]
	path = .tmux
	url = git@github.com:typoverflow/.tmux.git
[submodule ".zsh/chainy-zsh-theme"]
	path = .zsh/chainy-zsh-theme
	url = https://github.com/typoverflow/chainy-zsh-theme.git
